@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


$colorPrimario: #FF0000;
$colorSecundario: #4682B4;
$colorNegro: #0b1622;
$colorGris: #C0C0C0;
$colorBlanco: #FFFFFF;

$fuente: 'Fira Code', monospace;
$fuenteEmoji: "Noto Color Emoji", sans-serif;
